/*Tela grande*/
@media (min-width: 768px){
	.panel-default{
		margin-left: 10px;
		margin-right: 10px;
	}
	.alert{
		margin-left: 10px;
		margin-right: 10px;
	}
}

.navbar-brand{
	padding-top: 12px;
	height: 70px;
}

.aw-link-panel{
	float: right;
	padding: 0px;
}

.aw-titulo-panel{
	float: left;
	padding-top: 2px;
}

.bc-logo{
	float: left;
	padding-bottom: 7px;
	height: 60px;
	width: 300px;
	margin-left: 2px;
}

.bc-required > .control-label:after{
	content: "*";
	color: red;
}

.bc-form{
	margin: 10px;
}